<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eCommerce Suite Test">
  <!-- <parameter name="baseURL" value="https://jquery-drag-drop-demo.webflow.io/"></parameter> -->
  <!-- <parameter name="baseURL" value="https://www.saucedemo.com/v1/index.html"></parameter> -->
  <!-- <parameter name="baseURL" value="https://jqueryui.com/resources/demos/resizable/default.html"></parameter> -->
  <parameter name="baseURL" value="https://mui.com/x/react-date-pickers/time-clock/"></parameter>
  
  <test name="Authentication Test" enabled="false">
    <!-- <parameter name="bgBefore" value="rgb(233, 233, 233)"></parameter> -->
    <parameter name="bgBefore" value="rgb(255, 149, 144)"></parameter>
    <parameter name="bgAfter" value="rgb(255, 250, 144)"></parameter>
    <classes>
      <!-- <class name="com.juaracoding.ecommerce.authentications.SignInTest"></class> -->
      <!-- <class name="com.juaracoding.ecommerce.authentications.SignInTest"></class> -->
    </classes>
  </test>

  <test name="Common Test" enabled="true">
    <classes>
      <!-- <class name="com.juaracoding.ecommerce.commons.RadioCheckboxTest"></class> -->
      <!-- <class name="com.juaracoding.ecommerce.commons.DropdownTest"></class> -->
      <!-- <class name="com.juaracoding.ecommerce.commons.ResizableTest"></class> -->
      <class name="com.juaracoding.ecommerce.commons.TimeClockTest"></class>
    </classes>
  </test>
</suite>