<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eCommerce Suite Test">
  <parameter name="baseURL" value="https://jquery-drag-drop-demo.webflow.io/"></parameter>
  <test name="Authentication Test">
    <classes>
      <!-- <class name="com.juaracoding.ecommerce.authentications.SignInTest"></class> -->
      <class name="com.juaracoding.ecommerce.commons.DragDropTest"></class>
    </classes>
  </test>

  <test name="Common Test" enabled="false">
    <classes>
      <!-- <class name="com.juaracoding.ecommerce.commons.RadioCheckboxTest"></class> -->
      <!-- <class name="com.juaracoding.ecommerce.commons.DropdownTest"></class> -->
    </classes>
  </test>
</suite>