<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eCommerce Suite Test">
  <test name="Authentication Test">
    <classes>
      <class name="com.juaracoding.ecommerce.authentications.SignInNegativeTest"></class>
      <!-- <class name="com.juaracoding.ecommerce.authentications.SignInTest"></class> -->
    </classes>
  </test>
</suite>